<%= content_for :actions do %>
  <li><%= link_to 'New Trip', new_trip_path %></li>
<% end %>

<div class="container-fluid">

  <div class="row">
    <h1>Listing trips</h1>
  </div>

  <% @banners.each do |banner| %>
    <%= render 'partials/banner', banner: banner %>
  <% end %>
</div>
