// Place all the styles related to the Areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.area-image {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  padding-bottom: 25px;
}

.area-thumbnail {
  margin: auto;
  margin-bottom: 20px;
}

