// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.fc-content-skeleton {
  height: 100%;

  table {
    height: 100%;
  }
}

.fc-day-grid-event {
  height: 100%;
  display: block;
}

#trip .jumbotron {
  background-size: cover;
  border-radius: 0px;
}

#notice {
  padding: 15px;
  margin: 15px;
  color: #333333;
}

.center {
  text-align: center;
}

.area {
  padding: 15px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #000;
}

footer {
  width: 100%;
  text-align: center;
  padding: 15px;
}
