<%= content_for :actions do %>
  <li><%= link_to 'Show', trip_area_attractions_path(@trip, @area, @attraction) %></li>
  <li><%= link_to 'Back', trip_area_path(@trip, @area) %></li>
<% end %>

<h1>Editing attraction</h1>

<%= render 'form' %>
